<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/images/{{ layoutService.config().colorScheme === 'light' ? 'angular-black' : 'angular-red' }}.png" alt="logo" />
    <span>STARTER</span>
  </a>

  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }">
    <div class="ml-3" *ngIf="colorScheme === 'light'">
      <p-button icon="pi pi-sun" [text]="true" severity="warning" (click)="changeTheme('lara-dark-blue', 'dark')"></p-button>
    </div>
    <div class="ml-3" *ngIf="colorScheme === 'dark'">
      <p-button icon="pi pi-moon" [text]="true" severity="info"(click)="changeTheme('lara-light-blue', 'light')"></p-button>
    </div>
    <p-avatar styleClass="mr-2  layout-menu-button layout-topbar-button" (click)="menu.toggle($event)">U</p-avatar>
  </div>
</div>

<p-menu #menu [model]="itemsBtn" [popup]="true"></p-menu>
